@model DATA.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pname" class="control-label"></label>
                <input asp-for="Pname" class="form-control" />
                <span asp-validation-for="Pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pprice" class="control-label"></label>
                <input asp-for="Pprice" class="form-control" />
                <span asp-validation-for="Pprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pdescript" class="control-label"></label>
                <input asp-for="Pdescript" class="form-control" />
                <span asp-validation-for="Pdescript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InStock" class="control-label"></label>
                <input asp-for="InStock" class="form-control" />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutStock" class="control-label"></label>
                <input asp-for="OutStock" class="form-control" />
                <span asp-validation-for="OutStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                @*  <input asp-for="Produc" class="form-control" />*@
              <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
